html {
    background-color: aliceblue;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    background-color: #1f2937;
    color: white;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
  }

  .header-navbar {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  .header-navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .header-navbar ul li {
    margin-right: 20px;
  } 

  .header-navbar ul li a {
    color: white;
    text-decoration: none;
  }

  .header-title {
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
  }
  .image {
    display: flex;
  }

  .header-img {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
  }

  .header-btn {
    margin-top: 10px;
    padding: 5px 10px;
    text-align: center;
    font-size: 0.8em;
  }
 
  .info {

    color: #1f2937;
    background-color: aliceblue;
    text-align: center;

  }
  .posters {
    display: flex;
    justify-content: space-around;
  }


  .posters img {
    width: 15%;
    height: auto;
  }

  .quotes {
    padding: 80px;
    margin-top: 20px;
    background-color: #1f2937;
  }

  q {
    font-size: 25px;
    font-style: italic;
    color: white;
  }

  